/* Styling for homepage handlebars */

* {
    align-items: center;
    text-align: center;
    font-size: 16px;
}

:root {
    --white: white;
    --lightblue:rgb(138, 168, 169);
    --lightestblue: rgb(208, 224, 225);
    --font: 'Courier New', Courier, monospace;
    --black: black;
}

body {
    background-color: var(--lightblue);
    font-family: var(--font);
}

h1{
    color: var(--white);
    font-size: 35px;
}

#searchNotesInput{
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
}

#TitleInput{
    background-color: black;
    color: var(--white);
    font-size: 16px;
}

/* styling for sticky notes */
.card-title{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #e5acb6;
    padding: 0 8px;
}

.card-title i{
    margin: 0 8px;
}

.note-options{
    display: flex;
    justify-content: right;
}

.note-title {
    font-family: 'bradley hand';
    font-size: 20px;
    
    margin: 0px;
    padding: 10px 0;
}

#note-input {
    background-color: var(--black);
    color: var(--white);
    width: 300px;
    height: 100px;
    font-size: 16px;
}

.btn {
    background-color: var(--white);
    margin: 10px;
    padding: 10px;
    color: var(--black);
    border-radius: 8px;
    border-color: var(--lightestblue);
}

button:hover {
    background-color: var(--lightestblue);
}

.all-notes {
    display: flex;
    margin: 20px;
    text-align: left;
    flex-flow: row wrap;
}

.note-card {
    color: var(--white);
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: left;
    font-size: 12px;
    position: relative;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.note-card:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:3;
  }

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.almost-invisible{
    opacity: 20%;
}