/* style sheet applies to login handlebars file */

/* root styling, same as styles.css for consistent look */
:root {
    --white: white;
    --lightblue:rgb(138, 168, 169);
    --lightestblue: rgb(208, 224, 225);
    --font: 'Courier New', Courier, monospace;
    --black: black;
}

/* makes logins next to each other not stacked */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-6 {
    padding: 50px;
}

.text-right {
    text-align: right;
}

.label {
    font-size: 20px;
}

.col-md-6 h2 {
    font-size: 26px;
}

.btn-signup {
    width: 100px;
}

.input-text {
    text-align: left;
}

/* media queries for mobile */
@media screen and (max-width: 450px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .label {
        font-size: 16px;
    }
    .form {
        text-align: center;
        align-content: center;
    }

  }

  @media screen and (max-width: 800px) {
    .col-md-6 {
        padding: 20px;
    }
  }