:root {
    --white: white;
    --lightblue:rgb(138, 168, 169);
    --lightestblue: rgb(208, 224, 225);
    --darkerblue: rgb(69, 98, 99);
    --font: 'Courier New', Courier, monospace;
    --black: black;
}

.header_a{
    display: flex;
    justify-content: space-between;
}

.welcome{
    margin-left: 10px;
}

body {
    background-color: var(--lightblue);
}

a {
    font-style: none;
    color: var(--white);
    padding: 20px;
}

header {
    font: var(--font);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--darkerblue);
    color: var(--white);
    height: 75px;
    font-size: 18px;
    margin: 0;
}

.password-match{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.logout-btn {
    background-color: var(--lightblue);
    margin: 10px;
    padding: 10px;
    color: var(--white);
    border-radius: 8px;
    border-color: var(--lightblue);
}