/* General Styling Sheet for all handlebars pages */

/* root styling */
:root {
    --white: white;
    --lightblue:rgb(138, 168, 169);
    --lightestblue: rgb(208, 224, 225);
    --darkerblue: rgb(69, 98, 99);
    --font: 'Courier New', Courier, monospace;
    --black: black;
}

/* style for header welcome message */
.header_a {
    display: flex;
    justify-content: space-between;
}

/* style for welcome message */
.welcome {
    margin-left: 10px;
}


/* general body styling */
body {
    background-color: var(--lightblue);
}

/* a tag styling */
a {
    font-style: none;
    color: var(--white);
    padding: 20px;
}

/* styling for headercontent and color */
header {
    font: var(--font);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--darkerblue);
    color: var(--white);
    height: 75px;
    font-size: 18px;
    margin: 0;
}

/* styling for password match */
.password-match{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/* styling for logout button */
.logout-btn {
    background-color: var(--lightblue);
    margin: 10px;
    padding: 10px;
    color: var(--white);
    border-radius: 8px;
    border-color: var(--lightblue);
}